<!DOCTYPE html>
<html>
<head>
    <title>Comparateur Immobilier</title>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.red-pink.min.css" />
</head>
<body>
<div id="container">
 {% block content %}{% endblock %}
</div>
</body>
</html>
